body {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;

}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color: white;
    padding: 18px 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #181818;
}


.nav-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.design {
    color: #FD6E0A;

}

/* header related style */

.header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner .profile-pic {
    width: 500px;
}

.banner-greetings {
    color: var(--Dark-02, #474747);
    font-size: 45px;
    font-style: normal;
    font-weight: 600;
    margin-bottom: 5px;
}

.name {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 85px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.banner-description {
    color: var(--Dark-03, #757575);
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 20px;

}

/* main section style */

/* about style */

.about-description {
    color: #181818;
    text-align: center;
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-para {
    color: var(--Dark-03, #757575);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 22px;
    font-weight: bolder;
    line-height: 30px;
    /* 166.667% */
}

.about {
    margin-top: 130px;
    border-radius: 10px;
    background: #FFF8F3;
}

main {
    max-width: 1140px;
    margin: auto;
}

.about-info-cintainer {
    display: flex;
    justify-content: space-around;
}

.about-info {
    text-align: center;
}

.info-detail {
    font-weight: bolder;

}

.info {
    font-family: 'Times New Roman', Times, serif;
    font-style: normal;
    font-weight: 100px;
}

.section-title {
    margin-top: 50px;
    padding: 30px 30px;
    text-align: center;
}

.achieve {
    text-align: center;
}

.skill-container {
    display: flex;
    margin-top: 60px;
    gap: 65px;



}

.skills {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;

    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);

}

/* resume part */

.resume {
    text-align: center;
    margin-top: 100px;
}

.column-title {
    color: #474747;
    font-family: Open Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-container {
    display: flex;
    gap: 50px;
}

.resume-item-title {
    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.resume-item-ins {
    color: #757575;
    font-family: Open Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}

.ins-info {
    color: #757575;
    font-family: Open Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
    /* 175% */
}

.resume-container hr {
    margin: 30px 0px;
}

.Download-Cv {
    text-align: center;
    margin-top: 50px;
}

footer {
    background: #FFF8F3;
    display: flex;
    margin-top: 50px;
    padding: 130px 200px;
}

.item-name {

    
    color: #181818;
    /* text-align: center; */
    font-family: Open Sans;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}