body {
    font-family:Georgia, 'Times New Roman', Times, serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 50px;
    
}

.btn-primary {
    border-radius: 5px;
    background: #FD6E0A;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    color:white;
    padding: 18px 35px;
}

nav ul {
    display: flex;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #181818;
}


.nav-title {
    color: var(--Dark-01, #181818);
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.design {
    color: #FD6E0A;

}

/* header related style */

.header{
    background-color: #FFF8F3;
}

.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
}

.banner .profile-pic{
    width: 500px;
}